.container{
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.img img{
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain !important;
}


